<!DOCTYPE html>
<html>
		<head>
		
		</head>
	<body>
	<form method="post" action="get_nfo">
		<input type="text" name="data[]" placeholder="F_name" required>
		<input type="text" name="data[]" placeholder="L_name" required><br>
		<input type="text" name="data[]" placeholder="Address" required>
		<input type="text" name="data[]" placeholder="City" required><br>
		<input type="text" name="data[]" placeholder="State" minlength="2" maxlength="2" required>
		<input type="text" name="data[]" placeholder="Zip" minlength="5" maxlength="5" required><br>
			Continental US Numbers Only
		<input type="text" name="data[]" placeholder="Phone" minlength="10" maxlength="10" required><br>
		<input type="submit" value="Next">
	</form>
	<form method="post" action="search">
		<input type="text" name="Phone" placeholder="Number Search">
		<input type="submit" value="LookItUp">
	</form>

	</body>
</html>