<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<form method="post" action="get_nfo">
	<input type="text" name="data{}" placeholder="F_Name" required>
	<input type="text" name="data{}" placeholder="L_Name" required><br>
	<input type="text" name="data{}" placeholder="Address" required>
	<input type="text" name="data{}" placeholder="City" required><br>
	<input type="text" name="data{}" placeholder="State" minlength="2" maxlength="2" required>
	<input type="text" name="data{}" placeholder="Zip" minlength="5" maxlength="5" required><br>
		Continental Numbers Only
	<input type="text" name="data{}" placeholder="Phone Number" minlength="10" maxlength="10" required><br>
	<input type="submit" value="Continue">

</form>







<body>

</body>
</html>