<!DOCTYPE html>
<html>
		<h1>Please Enter Your Info</h1>
	<body>
		<form method="post" action="get_nfo">
			<input type="text" name="data[]" placeholder="FirstName" required>
			<input type="text" name="data[]" placeholder="LastName" required><br>
			<input type="text" name="data[]" placeholder="Street" required>
			<input type="text" name="data[]" placeholder="City" required><br>
			<input type="text" name="data[]" placeholder="State" required>
			<input type="text" name="data[]" placeholder="Zip" minlength="5" maxlength="5" required><br>
				Continental US Numbers Only<br>
			<input type="text" name="data[]" placeholder="Phone" minlength="10" maxlength="10" required><br>
			<input type="submit" value="Next">
		</form>
		

		Look Up a Number
		<form method="post" action="search">
			<input type="text" name="phown" placeholder="Look up a number">
			<input type="submit" value="Continue">
		</form>

	</body>
</html>