<%=msg%>

<h1> User Login </h1>






<form method="post" action="login">
		<h3 class="size">Username</h3><br>
	<input type="text"  name="usrname"><br>
		<h3 class="size">Password</h3><br>
	<input type="Password" name="p_word"><br>
			Logon?<br>

	<input type="submit" value="Continue?"><br>
</form>