<!DOCTYPE html>
<html>
<%=msg%>
<head></head>
	<body>

		<h1> User Login </h1>

		<form method="post" action="login">
				<h3>Username</h3><br>
			<input type="text"  name="u_n" minlength="4" maxlength="25" required><br>
				<h3>Password</h3><br>
			<input type="Password" name="p_w" minlength="4" maxlength="25" required><br>
					Log In?<br>
			<input type="submit" value="Continue?"><br>
		</form>
	<a href="/get_nfo">skip</a><br>
	</body>
</html>