<!DOCTYPE html>
<html>
	<head>
	
	</head>
<body>
	<table width = 100%>
		<th>F_name</th>
		<th>L_name</th>
		<th>Address</th>
		<th>City</th>
		<th>State</th>
		<th>Zip</th>
		<th>Phone</th>
			<%list.each do |row|%>
		<tr>
			<%row.each do |item|%>
				<td><%=item%></td>
			<%end%>
		</tr>
			<%end%>
</table>

</body>
</html>